### Trabajo Práctico CUBICACIÓN - GEOLOGÍA DE MINAS 2020- UNIVERSIDAD DE BUENOS AIRES
###     _Objetivo_: Realizar la cubicación mediante el método de bloques de explotación en una sección de la Mina Bolañitos      Guanajuato, México.

#### Resolución del TP en Python utilizando la librería Pandas con Jupyther Notebook. By Ana Paula O.R.

In [6]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
path = '/home/pau/Desktop/prueba_datoscsv.csv'

data = pd.read_csv(path)

data.head()

,Barreno,Desde (m),Longitud del testigo (m),Ancho verdadero (m),Ag (g/t),Au (g/t)
0,LC_1,167.5,2.9,2.5,413,3.26
1,LC_1,170.4,0.4,0.3,1220,2.93
2,LC_1,215.8,2.9,1.0,85,3.27
3,LC_2,129.4,2.1,2.0,400,3.44
4,LC_2,131.5,0.3,0.3,1145,3.11

In [8]:
data.tail()

,Barreno,Desde (m),Longitud del testigo (m),Ancho verdadero (m),Ag (g/t),Au (g/t)
38,LC_24,272.80,2.30,2.10,180,1.62
39,LC_25,294.30,8.30,8.00,475,20.71
40,LC_28,253.20,4.30,4.20,77,0.65
41,LC_35,218.90,3.30,2.33,248,4.90
42,LC_35,220.65,0.55,0.39,659,12.05

In [9]:
data.Barreno.value_counts()

LC_14    4
LC_24    3
LC_1     3
LC_10    2
LC_3     2
LC_23    2
LC_17    2
LC_2     2
LC_13    2
LC_21    2
LC_35    2
LC_20    2
LC_4     2
LC_12    2
LC_9     2
LC_8     1
LC_11    1
LC_18    1
LC_28    1
LC_15    1
LC_16    1
LC_25    1
LC_22    1
LC_19    1
Name: Barreno, dtype: int64

In [10]:
# Genero agrupo los datos según número de muestra (Barreno)  y genero un diccionario para almacenar los datos por cada num de muestra

gr = data.groupby(['Barreno']) #datos ordenados por Barreno
barrenos = dict(tuple(gr)) # dict con cada Barreno con sus respectivos valores/datos

In [11]:
# Calculo la media de Au y Ag para cada Barreno 

Ag_mean = gr['Ag (g/t)'].mean()
Au_mean = gr['Au (g/t)'].mean() 

# Calculo el ancho total por barreno
suma_ancho = gr['Ancho verdadero (m)'].sum()

In [12]:
# Genero un nuevo dataframe (tabla de datos) con leyes medias y ancho total por Barreno
data_pro = pd.DataFrame()
data_pro['Ag_promedio'] = Ag_mean
data_pro['Au_promedio'] = Au_mean
data_pro['Ancho_total'] = suma_ancho
data_pro

       Ag_promedio  Au_promedio  Ancho_total
LC_1    572.666667     3.153333         3.80
LC_10   551.000000     3.385000         2.80
LC_11   164.000000     0.550000         1.90
LC_12   289.000000     4.330000         3.90
LC_13   185.500000     2.500000         4.70
LC_14   473.000000     4.847500         6.00
LC_15   128.000000     1.280000         2.50
LC_16    30.000000     0.250000         3.00
LC_17   543.500000     5.815000         2.60
LC_18    55.000000     3.390000         3.50
LC_19    14.000000     0.390000         2.70
LC_2    772.500000     3.275000         2.30
LC_20   475.500000     4.065000        10.80
LC_21   131.500000    28.535000         4.70
LC_22    98.000000     6.480000         4.90
LC_23   342.000000     6.680000         8.00
LC_24   382.333333    16.643333        10.30
LC_25   475.000000    20.710000         8.00
LC_28    77.000000     0.650000         4.20
LC_3    275.000000     5.705000         2.30
LC_35   453.500000     8.475000         2.72
LC_4   2640.500000    61.605000         1.10
LC_8    368.000000     2.490000         1.80
LC_9    876.500000     4.145000         2.00

In [13]:
# Creo una clase da dato nueva llamada Lado para calcular las Leyes medias de Au y Ag por Bloque

class CrearLado:
    def __init__(self, lado1=[], lado2=[], **lado2=[])
    self.lado1=lado1
    self.lado2=lado2

class Lado: 
    def __init__(self, *barreno, influencia=[]):   #influencia=[], ancho=[], ley_mediaAg=[], ley_mediaAu=[]):
        self.influencia = influencia
        self.barreno = barreno
        
        # self.ancho = ancho
        # self.ley_mediaAg = ley_mediaAg
        # self.ley_mediaAu = ley_mediaAu
        
    def potencia_media(self):
        index = len(self.ancho) -1
        sum1= 0
        sum2 = 0
        for elem, num in self.ancho, self.influencia:
            sum1 += self.ancho[index]*self.influencia[index]
            sum2 += self.influencia[index]
        # self.potencia_media = (sum(self.ancho[index]*self.influencia))/sum(self.influencia)
        return sum1/sum2

    # def ley_media(potencia, influencia):

    #     self.ley_mediaAg x PotenciaBarreno x InfluenciaBarreno

lado1 = Lado(influencia=[60, 60], ancho=[2.8, 1.9], ley_mediaAg=[471.07, 164], ley_mediaAu=[2.86, 0.55])

lado1.potencia_media()

SyntaxError: invalid syntax (<ipython-input-13-9051631dc424>, line 4)

In [37]:
def pot_med(muestras=[], influencias=[]):
    suma = 0
    for i in range(len(muestras)):
        suma += muestras[i][2]*influencias[i] 
    return suma/sum(influencias)

m1 = list(data_pro.iloc[0])
m2 = list(data_pro.iloc[1])

pot_med( [m1, m2], [30, 40])

3.2285714285714286

In [23]:
# las variables en python son pasadas por asignación o por federencia?
# Se modifica lo de afuera de una función al hcer f(f(x))? 

def fnuno(a):  
    def fndos(b):
        return a + b
    return fndos()

print(fnuno(3)(2))

TypeError: fndos() missing 1 required positional argument: 'b'

In [37]:
# df["name_uppercase"] = df['name'].map(lambda name: name.upper())

bloque1 = pd.DataFrame({'Lado': [['A'], ['A'], ['A']], '# Muestras': ['m1', 'm2', 'm3'], 'Pot_med': [data_pro.iloc[1][2], data_pro.iloc[0][2], data_pro.iloc[3][2]], 'Influencia_#M': [30, 40, 45]})
bloque1

  Lado # Muestras  Pot_med  Influencia_#M
0  [A]         m1      2.8             30
1  [A]         m2      3.8             40
2  [A]         m3      3.9             45

In [43]:
# bloque1.iloc[3] = ['B', 'm4', data_pro.iloc[1][2], 55]